#showOffer h2{
  text-align: center;
  color:var(--accent-color)
}
#showOffer h6 span{
  color:var(--accent-color)
}
#showOffer h6 {
  text-align: center;
}
.card-image{
  position: relative;
}
#numOfTickets{
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 10px;
  background:color-mix(in srgb, var(--accent-color) 50%, transparent 50%) ;
  border-radius: 10px;
}
#numOfTickets h6 span{
  font-weight: bold;
  color: var(--heading-color);
}
#numOfTickets h6{
  color: var(--surface-color);
}
.addImage{
  display: block;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--surface-color);
}
