
section {
  min-height: 100vh;
}
section h5.card-title {
  color: var(--heading-color);
  font-weight: 650;
  font-size: 28px;
}
section p {
  font-size: 14px;
  color: var(--default-color);
}
section .card .card-image img{
  height: 250px;
}
section button.btn {
  background-color: var(--heading-color);
  color: var(--surface-color);
}
