<header id="header" class="header position-relative">
  <div class="container-fluid container-xl position-relative">
    <div class="top-row d-flex align-items-center justify-content-between">
      <a routerLink="/dashboard/welcome" class="logo d-flex align-items-end">
        <h1 class="sitename">Sky Voyager Admin</h1><span>.</span>
      </a>
      <button class="mobile-nav-toggle fa-solid fa-bars" (click)="toggleNav()"></button>
    </div>
  </div>
  <div class="nav-wrap" [ngClass]="{'mobile-nav-active': isActive}">
    <div class="container d-flex justify-content-center position-relative">
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/dashboard/offers" (click)="closeNav()" routerLinkActive="active">Offers</a></li>
          <li><a routerLink="/dashboard/hotels" (click)="closeNav()" routerLinkActive="active">Hotels</a></li>
          <li><a routerLink="/dashboard/popular-places" (click)="closeNav()" routerLinkActive="active">Popular
              Places</a></li>
          <li><a routerLink="/dashboard/flight-schedules" (click)="closeNav()" routerLinkActive="active">Flight
              Schedules</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Booking
            </a>
            <ul class="dropdown-menu" [class.show]="isDropdownOpen">
              <li><a class="dropdown-item" routerLink="/dashboard/booking-hotels" (click)="closeDropdown()"
                  routerLinkActive="active">Hotels</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/booking-offers" (click)="closeDropdown()"
                  routerLinkActive="active">Offers</a></li>
            </ul>
          </li>
          <li class="logout">
            <button class="btn logout" (click)="logout()">Logout</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
